.backimg{
    width: 100%;
    object-fit: cover;
    height: 250px;
}
.profileimg{
    border-radius: 150px;
    border: 1px solid gray;
    width: 260px;
    height: 250px;
    margin-top: -50px;
    margin-left: 40px;
    object-fit: cover;
}
.profileContent{
    display: flex;
}
.info{
    padding: 30px;
    /* margin-left: 10px; */
}
.info h2{
    font-size: 2vw;
}
.info input {
    padding: 10px;
    text-align: center;
    font-size: 1.5vw;
    width: 6vw;
    border-radius: 10px;
    margin: 5px 10px 5px 0px;
}
.info label{
   margin-right: 10px;
   padding-left: 2px;
   font-size: 1vw;
   color: grey;
}
.info p{
    color: gray;
    margin-top: 10px;
    font-size: 1.2vw;
}
.info a{
    font-size: 1.1vw;
}
.icons{
    padding-top: 20px;
    display: flex;
    font-size: 2vw;
}
.icons label{
    margin-top: 3px;
}

/* =================main content===================== */

.section2{
    margin-top: 40px;
}

.postcount{
    font-size: 20px;
    padding: 10px;
    margin-bottom: -2px;
    width: 8vw;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    opacity: 50%;
}

.hrline{     
        border-top: 1px solid grey;
        height: 2px;
        width: 90.5vw;
        margin-left: 8%;
        opacity: 50%;
}

.postcount h5{
    color: #0494d7;
    font-size: 1vw;
    font-weight: 900;
}
.postList{
    width: 100%;
    height: 30vh;
    padding: 20px;
    margin-top: 20px;
    /* background-color: blue; */
}
.postHead{
    display: flex;
    padding: 10px 0;
    font-size: 1.6vw;
}
.postFoot{
    padding: 15px 0;
    font-size: 1.2vw;
}
.postList p{
    width: 50%;
    font-size: 1vw;
    color: #616060;
    line-height: 2;
}
.postFoot label:nth-child(1){
    color: #51B8E7;
    font-weight: 700;
}
.postFoot label:nth-child(2){
    color: #4F5557;
    font-weight: 700;
}
.postFoot label:nth-child(3){
    color: #ADADAD;
    position: absolute;
    left: 78%;
}


/* -------Tablet media query------ */
@media (max-width: 1024px) {
    .postList{
        height: auto;
    }
    .postHead h2{
        font-size: 3vw;
    }
    .postList p{
        font-size: 2vw;
        line-height: 1.5;
    }
    .hrline{
        width:90vw;
    }
    .postFoot label:nth-child(3){
        position: absolute;
        left: 75%;
    }
    .profileimg{
        width: 200px;
        height: 200px;
    }
    .info{
       padding: 10px 20px;
    }
    .info input{
        min-width: 10vw;
    }
    .icons label{
        margin-top: 0px;
    }
    
}
/* ---------------mobile media------------------------- */
@media (max-width: 480px) {
    .backimg{
        height: 150px;
    }
    .profileimg{
        width: 100px;
        height: 100px;
        margin-left: 5%;
        margin-top: -30px;
    }
    .info{
        padding: 10px 20px;
     }
     .info h2{
        font-size: 5vw;
     }
    .info input{
        padding: 5px 6px;
        min-width: 15vw;
        font-size: 3vw;
     }
    .info .label1 {
        position: absolute;
        font-size: 3vw;
        left: 34%;
        top: 297px;
    }
    .info .label2{
        position: absolute;
        font-size: 3vw;
        left: 52%;
        top: 297px;
    }
    .info p{
        margin-top: 40px;
        margin-left: -110px;
        font-size: 3vw;
    }
    .info a{
        font-size: 3vw;
        margin-left: -110px;
    }
    .icons{
        margin-left: -110px;
        font-size: 5vw;
    }
    .info .icons label{
        margin-top: -2px;
        margin-right: -25px;
        padding-left: 4px;
        font-size: 15px;
    }
    .hrline{
        width:80vw;
        margin-left: 22%;
    }
    .postcount{
        width: 22vw;
    }
    .postcount h5{
        font-size: 3vw;
    }
    .postHead{
        font-size: 3vw;
    }
    .postHead h2{
        font-weight: 800;
    }
    .postList{
        height: auto;
    }
    .postList p{
        font-size: 3vw;
        width: 100%;
    }
    .postFoot label{
        font-size: 2.5vw;
    }
    .postFoot label:nth-child(3){
        position: absolute;
        left: 65%;
        font-size: 2vw;
    }
     
   
}

